#audio-file-input {
  position: fixed;
  bottom: 0px;
  font-size:15px;
  color: aliceblue;
  padding: 5px;
  background-color: gray;
}

#replayer-control {
  font-size:15px;
  padding: 5px;
}

#replayer-control > * {
  font-size:20px;
  border-width: 3px;
}

#recorder-control {
  padding: 5px;
}

#recorder-control > button {
  font-size:20px;
  border-width: 3px;
}